/*001*/
body {
    font-family: "Optima", sans-serif;
    padding:1em;
    font-size:1em;
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}
/*001*/
h1 {
    border-radius: 1em;
    color:rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 120px 10px;
    text-align: center; 
    font-size: 400%;
    background-color: rgb(0, 0, 0);
    background-position: top right;
}
/*001*/
h2 {
    color:rgb(0, 0, 0)
    font-size: 2em;
    text-transform: uppercase;
}
/*001*/
h3 {
    color:rgb(0, 0, 0);
    font-size: 1.5em;
    text-transform: uppercase;
}
h4{
    color:rgb(0, 0, 0);
    font-size: 1.2em;
    text-transform: uppercase;
}